<title>DeepLearning</title>
<nav>
    <div class="nav-wrapper grey darken-2">
        <a href="" class="brand-logo center">NNDO</a>
        <ul id="nav-mobile" class="left">
            <li><a href="" routerLink="/dashboard" routerLinkActive="active">Projects</a></li>
            <li><a href="" routerLink="/mapping" routerLinkActive="active">Mapping</a></li>
        </ul>
        <form class="right" style="width: 200px; margin-right: 20px">
            <input type="search" placeholder="search..." class="main_search" id="main_search">

        </form>
    </div>
</nav>

<router-outlet></router-outlet>
