<div class="card grey lighten-3">
    <div class="card-content">
        <span class="card-title"><i class="material-icons grey-text pointer modal-trigger" data-target="addFilterModal">add_circle</i>  Filter</span>
        {{mapping?.name}}
    </div>
</div>
<ul class="collapsible" *ngFor="let filter of filters">
    <li>
        <div class="collapsible-header">
            <div class="row filter-row">
                <div class="col s9" style="overflow: auto;">
                    {{filter.key}}
                </div>
                <div class="col s3">
                    <div class="switch">
                        <label>
                            <input type="checkbox">
                            <span class="lever"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapsible-body grey lighten-3"  style="overflow: auto;">
            <p *ngFor="let option of filter.options">{{option}}</p>
        </div>
    </li>
</ul>

<div id="addFilterModal" class="modal">
    <div class="modal-content">
        <h4>Add new filter</h4>
        <table>
            <thead>
            <th>Key</th>
            <th>Aliases</th>
            <th>Actions</th>
            </thead>
            <tbody>
            <tr *ngFor="let paramWithAliases of mapping.params">
                <td>{{paramWithAliases.key}}</td>
                <td>{{paramWithAliases.aliases}}</td>
                <td><i class="small material-icons grey-text pointer" (click)="addFilter(paramWithAliases.key)">add_circle</i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
    </div>
</div>