<div class="card grey lighten-3">
    <div class="card-content">
        <span class="card-title"><i class="material-icons grey-text pointer modal-trigger" data-target="addFilterModal">add_circle</i>  Filter</span>
        {{mapping?.name}}
    </div>
</div>
<ul class="collapsible" *ngFor="let filter of filters">
    <li>
        <div class="collapsible-header filterHead">
            <div class="switch">
                <label>
                    <input type="checkbox" (change)="filter.toggle(); updateFilter()" checked>
                    <span class="lever"></span>
                </label>
            </div>
            {{filter.key}}
        </div>
        <div class="collapsible-body grey lighten-3"  style="overflow: auto;">
            <p *ngFor="let option of filter.options; let i = index">
                <input type="checkbox" class="filled-in" id="{{i}}{{filter.key}}" checked="checked" (click)="option.enabled = !option.enabled; updateFilter()"/>
                <label for="{{i}}{{filter.key}}" class="black-text">{{option.meaning}}</label>
            </p>
        </div>
    </li>
</ul>
</ul>

<div id="addFilterModal" class="modal">
    <div class="modal-content">
        <h4>Add new filter </h4>
        <span class="grey-text key_aliases">{{hintText}}</span><br>
        <!--<div class="input-field">-->
            <!--<input type="text" id="autocomplete-input" class="autocomplete">-->
            <!--<label for="autocomplete-input">Search</label>-->
        <!--</div>-->
        <p class="chip grey darken-1 white-text pointer" *ngFor="let paramWithAliases of mapping.params" (click)="addFilter(paramWithAliases.key)" (mouseover)="setModalHintText(paramWithAliases)" (mouseleave)="hintText = ''">{{paramWithAliases.key}}</p>
    </div>
    <div class="modal-footer">
    </div>
</div>