body, html {
  padding: 0;
  margin: 0;
  height: 100%;

}

html {
  height: 100%;
}

app {
  height: 100%;
}

.successToast {
  color: #ffe082;
}

.errorToast {
  color: #ff6f00;
}

.waringToast {
  color: #ffb300;
}

.pointer:hover {
  cursor: pointer !important;
}

.top_space {
  margin-top: 15px !important;
}

.xl_top_space {
  margin-top: 100px !important;
}

.flex_conti {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card_space {
  flex-grow: 1;
  margin: 15px;
}

.main_search {
  border-bottom: 1px solid white !important;
}



::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #616161;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
  background-color: #757575 !important;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
  border: 2px solid #424242 !important;
}

[type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after {
  border: 2px solid #424242 !important;
}
