<div class="row">
    <!-----------------------Left Area------------------------->
    <div class="col s12 l2">
        <button class="btn grey darken-3 top_space" (click)="convertToPdf()" *ngIf="!pdfLink">Convert to svg</button>
        <a class="btn grey darken-3 top_space" [href]="sanitize(pdfLink)" download="{{config.name}}_results" *ngIf="pdfLink">Download</a>
        <div class="card grey lighten-2" *ngIf="config">
            <div class="card-content">
                <span class="card-title">Description</span>
                <p class="grey-text text-darken-1">{{config.description}}</p>
            </div>
        </div>
    </div>


    <!----------------------Main Area------------------------->
    <div class="col s12 l8">
        <p *ngIf="config?.results?.length == 0" class="center-align">No results available</p>
        <div class="row" id="toDownload">
            <div class="col s2">
                <ul id="colorList">
                </ul>
            </div>
            <div id="results" class="col s10">
                <svg id="visualisation"></svg>
            </div>
        </div>



        <div *ngIf="config != null">
            <h5>{{config.name}}</h5>
            <table class="highlight">
                <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let paramSet of config.params | configs: searchText">
                    <td (click)="getAliases(paramSet.param)">{{paramSet.param}}</td>
                    <td>{{paramSet.value}}</td>
                    <td>
                        <a (click)="deleteParamSet(paramSet)"><i class="material-icons grey-text text-darken-2 pointer">delete</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!----------------------Right Area------------------------->
    <div class="col s12 l2">
        <div class="file-field input-field">
            <div class="btn grey darken-3">
                <span *ngIf="config.params.length < 1">Add</span>
                <span *ngIf="config.params.length > 0">Change</span>
                <input type="file" (change)="dataInput($event)">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </div>
</div>


