<div class="row">
    <!-----------------------Left Area------------------------->
    <div class="col s12 l2">
        <div class="card grey lighten-2" *ngIf="config">
            <div class="card-content">
                <span class="card-title">{{config.name}}<i class="material-icons grey-text text-darken-2 pointer right_float" (click)="openEditModal()">edit</i></span>
                <p class="grey-text text-darken-1">{{config.description}}</p>
            </div>
            <div class="card-action">
                Convert results to an svg file to download it.<br>
                <button class="btn grey darken-3 top_space" (click)="convertToPdf()" *ngIf="config?.results?.length != 0 && !pdfLink">Convert</button>
                <a class="btn grey darken-3 top_space" [href]="sanitize(pdfLink)" download="{{config.name}}_results.svg" *ngIf="config?.results?.length != 0 && pdfLink">Download</a>
            </div>
        </div>
        <div class="card amber" *ngIf="config && !resultsValid">
            <div class="card-content">
                <p>Results are invalid at some point!</p>
            </div>
        </div>
    </div>


    <!----------------------Main Area------------------------->
    <div class="col s12 l8">
        <p *ngIf="config?.results?.length == 0" class="center-align">No results available</p>
        <div class="row" id="toDownload">
            <div id="results" class="col s10">
                <svg id="visualisation"></svg>
            </div>
            <div class="col s2">
                <ul id="colorList">
                </ul>
            </div>
        </div>


        <div *ngIf="config != null">
            <h5>{{config.name}}</h5>
            <dynTable [input]="config.params" [initialColumns]="initalParamColumns" (called)="handleTableActions($event)" [options]="tableOptions" (clickedOnColumn)="getAliases($event)"></dynTable>
        </div>
    </div>


    <!----------------------Right Area------------------------->
    <div class="col s12 l2">
        <ul class="collection with-header" *ngIf="files?.length > 0">
            <li class="collection-header grey lighten-1">Related Files</li>
            <li *ngFor="let file of files" class="pointer collection-item">
                <a [href]="file.url" download class="grey-text text-darken-1">
                    {{file.name}}
                </a>
                <i class="material-icons grey-text text-darken-2 pointer secondary-content" (click)="deleteFile(file)">delete</i>
            </li>
        </ul>
        <div class="card amber" id="uploadCard" (dragleave)="onFileDragLeave($event)" (dragover)="onFileDragOver($event)" (drop)="onFileDrop($event)">
            <div class="card-content">
                <span class="card-title">Upload</span>
                Upload or download related files
            </div>
            <div class="card-action">
                <div class="file-field input-field upload_button">
                    <div class="btn grey darken-1">
                        <span>Upload</span>
                        <input type="file" id="upload" multiple (change)="inputChanged($event)">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------modals------------------>
<div id="configSetEditModal" class="modal">
    <form>
        <div class="modal-content">
            <h4>Edit ConfigSet</h4>
            <div class="input-field">
                <input placeholder="Name" id="editName" type="text" class="validate" #editName>
                <label for="name">Name</label>
            </div>
            <div class="input-field">
                <textarea placeholder="Description" id="editDesc" type="text" class="materialize-textarea" #editDesc></textarea>
                <label for="desc">Description</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn-flat" (click)="editConfig()">Edit</button>
        </div>
    </form>
</div>


