<!----------------------------Header------------------------------------------------>
<div class="left-align">
    <span class="tableHeading">{{options.name}} - <span class="grey-text small_text" *ngIf="input">{{input.length}} entries</span></span>
    <i class="material-icons right_float grey-text text-darken-2 pointer" (click)="openSettings()">settings</i>
</div>

<!----------------------------Table------------------------------------------------>
<div class="table-container">
    <div class="table-container-inner">
        <table [ngClass]="options?.classes ? options.classes : ''" *ngIf="input && input.length > 0">
            <thead>
            <tr>
                <th *ngFor="let column of activeColumns" (click)="orderBy(column.property)" class="pointer">{{column.name}}</th>
                <th *ngFor="let column of fixColumns" (click)="orderBy(column.property)" class="pointer">{{column.name}}</th>
            </tr>
            </thead>
            <tbody>
            <ng-template ngFor let-set [ngForOf]="input" let-i="index">
                <tr *ngIf="i >= (currentPage -1) * maxItemsPerPage && i < currentPage * maxItemsPerPage" [ngClass]="{'pointer': onColumnClick}" id="dynRow{{i}}" (click)="toggleHighlightRow(i)" (dblclick)="clickColumn(set)">
                    <td *ngFor="let column of activeColumns">
                        <img *ngIf="column.name === 'Image'" src="{{set[column.property]}}" height="60">
                        <div *ngIf="!column.columnActions && column.name != 'Image'" class="pointer">{{set[column.property]}}</div>
                        <div *ngIf="column.columnActions && column.name != 'Image'">
                            <a *ngFor="let action of column.columnActions; let i = index" [innerHTML]="action" (click)="callFunction(i, set)"></a>
                        </div>
                    </td>
                    <td *ngFor="let column of fixColumns">
                        <div *ngIf="!column.columnActions" class="pointer">{{set[column.property]}}</div>
                        <div *ngIf="column.columnActions">
                            <a *ngFor="let action of column.columnActions; let i = index" [innerHTML]="action" (click)="callFunction(i, set)"></a>
                        </div>
                    </td>
                </tr>
            </ng-template>
            </tbody>
        </table>
    </div>
</div>
<!--<div class="table-container">-->
    <!--<div class="table-container-inner">-->
        <!--<table class="table-header-fixed">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>-->
                    <!--<span>Förts</span>-->
                <!--</th>-->
                <!--<th >-->
                    <!--<span>Second</span>-->
                <!--</th>-->
                <!--<th>-->
                    <!--<span>Thdird</span>-->
                <!--</th>-->
                <!--<th>-->
                    <!--<span>Forth</span>-->
                <!--</th>-->
                <!--<th>-->
                    <!--<span>Fitth</span>-->
                <!--</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td>First</td>-->
                <!--<td>Second</td>-->
                <!--<td>Third</td>-->
                <!--<td>Forth</td>-->
                <!--<td>Forth</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>First</td>-->
                <!--<td>Second</td>-->
                <!--<td>Third</td>-->
                <!--<td>Forth</td>-->
                <!--<td>Forth</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>First</td>-->
                <!--<td>Second</td>-->
                <!--<td>Third</td>-->
                <!--<td>Forth</td>-->
                <!--<td>Forth</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>First</td>-->
                <!--<td >Second</td>-->
                <!--<td>Third</td>-->
                <!--<td>Forth</td>-->
                <!--<td >Forth</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>First</td>-->
                <!--<td >Second</td>-->
                <!--<td >Third</td>-->
                <!--<td >Forth</td>-->
                <!--<td>Forth</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>&lt;!&ndash; /fixed-table-container-inner &ndash;&gt;-->
<!--</div>&lt;!&ndash; /fixed-table-container &ndash;&gt;-->
<ul class="pagination center-align" *ngIf="input && input.length > 0">
    <li [ngClass]="{'disabled': currentPage === 1}" class="pointer noselect" (click)="changePage(currentPage - 1)"><a><i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect pointer waves-light noselect" *ngFor="let page of maxPages; index as i" [ngClass]="{'active': currentPage === i +1}" (click)="changePage(i +1)"><a>{{i + 1}}</a></li>
    <li [ngClass]="{'disabled': currentPage === maxPages.length}" class="pointer noselect"><a><i class="material-icons" (click)="changePage(currentPage + 1)">chevron_right</i></a></li>
</ul>

<!----------------------------Configure/Settings Modal------------------------------------------------>
<div id="settingsModal" class="modal">
    <div class="modal-content">
        <h4>Table Settings</h4>
        <hr *ngIf="options && options.configurable">
        <div class=" left-align" *ngIf="options && options.configurable">
            <h5>Columns</h5>
            <div class="flex_conti">
                <div *ngFor="let column of possibleColumns | sortByCriteria: 'name'" class="propertyCheckbox">
                    <input type="checkbox" class="filled-in" id="{{column.name}}" [checked]="column.active" [disabled]="column.fix" (change)="toggleColumn(column)"/>
                    <label class="black-text" for="{{column.name}}">{{column.name}}</label>
                </div>
            </div>
        </div>
        <hr>
        <div class="left-align">
            <h5>Pagination</h5>
            <p>Max items per page: </p>
            <form action="#">
                <p class="range-field">
                    <input type="range" name="range" id="test5" min="1" max="200" [(ngModel)]="maxItemsPerPage" (change)="recalculateMaxPages(); setUserMaxItemsPerPage()"/>
                </p>
            </form>
            <br>
            <p>Jump to the top on new page:</p>
            <div class="switch">
                <label>
                    Off
                    <input type="checkbox" [checked]="jumpToTop" (change)="jumpToTop = !jumpToTop">
                    <span class="lever"></span>
                    On
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div>