.tableHeading {
  font-weight: 400;
  font-size: 1.4rem;
}

.propertyCheckbox {
  margin: 10px 5px;
  flex-grow: 1;
  padding: 5px 20px 2px;
  background-color: #ffc107;
}

.highlightedRow {
  background-color: #ffd740 !important;
}

.highlightedRow td {
  border-radius: 0;
}