<div class="row">
    <!------------------------------- Left side ---------------------------------------------------------->
    <div class="col s12 l2">
        <div class="collection with-header">
            <div class="collection-header grey darken-1"><h5 class="white-text">Existing Mappings</h5></div>
            <a class="collection-item pointer black-text" *ngFor="let mapping of mappings | async"
               (click)="selectMapping(mapping)">{{mapping.name}}
            </a>
        </div>

        <div class="card amber accent-2" id="data">
            <div class="card-content">
                <span class="card-title">Mappings</span>
                <p>This is the mapping page. Here you can create or adjust parameter mappings. For every parameter in a
                    mapping you can
                    chose as many aliases as you want. All configurations of a mapping can be filtered.<br>
                    Also you can add flags to the mapping, translating every parameter value into something else.
                    To add flags, click on the add button or drop a flag file on the card. Edit flags by double clicking them.
                </p>
            </div>
            <div class="card-action">
            </div>
        </div>

    </div>

    <!------------------------------- Middle ---------------------------------------------------------->
    <div class="col s12 l8">
        <h4 *ngIf="!selectedMapping" class="center-align grey-text">Nothing selected</h4>
        <h4 *ngIf="selectedMapping" class="center-align">{{selectedMapping.name}}
            <a (click)="deleteMapping()" class="pointer grey-text right_float"><i class="material-icons">delete</i></a>
            <a (click)="openEditMapping()" class="pointer grey-text right_float"><i class="material-icons">edit</i></a>
        </h4>
        <table *ngIf="selectedMapping" class="highlight bordered">
            <thead>
            <th>Parameter Key</th>
            <th>Aliases</th>
            </thead>
            <tbody>
            <tr *ngFor="let param of selectedMapping.params">
                <td>{{param.key}}</td>
                <td class="aliases" (drop)="drop($event)" (dragover)="allowDrop($event)" id="{{param.key}}">
                    <div *ngFor="let alias of param.aliases" class="chip grey darken-1 white-text" draggable="true"
                         (dragstart)="drag($event)">{{alias}}</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!------------------------------- Right side ---------------------------------------------------------->
    <div class="col s12 l2">

        <!------------------------------Unrelated Params------------------------------------------------->
        <div class="card amber accent-2" *ngIf="selectedMapping">
            <div id="maxCardHeight" class="card-content chip_dropzone unrelatedParamsContent" (drop)="drop($event)"
                 (dragover)="allowDrop($event)">
                <span class="card-title">Unrelated Params</span>
                <div class="chip grey darken-1 white-text" *ngFor="let param of selectedMapping?.unrelatedParams"
                     draggable="true" (dragstart)="drag($event)">{{param}}</div>
            </div>
            <div class="card-action">
                <button class="btn grey darken-3" id="addNewKey" (drop)="drop($event)" (dragover)="allowDrop($event)">
                    Add
                </button>
            </div>
        </div>

        <!-----------------------------------------Flags------------------------------------------------->
        <div class="card amber accent-2" *ngIf="selectedMapping" (drop)="dropFlagFile($event)" (dragover)="allowDrop($event)">
            <div class="card-content">
                <span class="card-title">Flags</span>
                <p *ngIf="!selectedMapping.flags">Here you can drop or create flag translations.</p>
                <span class="grey-text text-darken-2" *ngIf="flagHint && flagHint != ''">Key: {{flagHint}}</span><br>
                <div class="maxCardHeight">
                    <div class="chip grey darken-1 white-text noselect" *ngFor="let flag of selectedMapping.flags" (mouseover)="flagHint = flag.key" (mouseleave)="flagHint = ''"
                         (dblclick)="openEditFlag(flag)">{{flag.meaning}}
                        <i class="icon material-icons" (click)="deleteFlag(flag)">close</i>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button class="btn grey darken-3 modal-trigger top_space" data-target="createFlag" *ngIf="isOwner(selectedMapping.creator)">Add</button>
                <button class="btn grey darken-3 top_space" (click)="clearFlags()" *ngIf="isOwner(selectedMapping.creator) && selectedMapping.flags && selectedMapping.flags != []">Clear</button>
            </div>
        </div>
    </div>
</div>

<!------------------------------------Modals----------------------------------->
<div id="createFlag" class="modal">
    <div class="modal-content">
        <h4>Add new Flag</h4>
        <div class="input-field">
            <input placeholder="Name" id="createModal_name" type="text" class="validate" #key>
            <label for="createModal_name">Key</label>
        </div>
        <div class="input-field">
            <textarea placeholder="Description" id="createModal_desc" type="text" class="materialize-textarea" #meaning></textarea>
            <label for="createModal_desc">Meaning</label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-action waves-effect waves-green btn-flat" (click)="createFlag(key.value, meaning.value)">Create</button>
    </div>
</div>

<div id="editFlag" class="modal">
    <div class="modal-content">
        <h4>Edit Flag</h4>
        <div class="input-field">
            <input placeholder="Name" id="editFlagName" type="text" class="validate" #Flagkey>
            <label for="editFlagName">Key</label>
        </div>
        <div class="input-field">
            <textarea placeholder="Description" id="editFlagMeaning" type="text" class="materialize-textarea" #Flagmeaning></textarea>
            <label for="editFlagMeaning">Meaning</label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-action waves-effect waves-green btn-flat" (click)="editFlag(Flagkey.value, Flagmeaning.value)">Edit</button>
    </div>
</div>

<div id="editMapping" class="modal">
    <div class="modal-content">
        <h4>Edit Mapping</h4>
        <div class="input-field">
            <input placeholder="Name" id="editMappingName" type="text" #name>
            <label for="editMappingName">Name</label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-action waves-effect waves-grey btn-flat" (click)="editMapping(name.value)">Edit</button>
    </div>
</div>