<h2>{{greeting}}</h2>
Add new Data:
<div class="row">
    <div class="input-field col s6">
        <input placeholder="Name" id="first_name" type="text" class="validate" #name>
        <label for="first_name">Name</label>
    </div>
    <div class="input-field col s4">
        <input id="age" type="number" class="validate" #age>
        <label for="age">Age</label>
    </div>
    <button (click)="addNewItem(name.value, age.value)" class="waves-effect waves-light btn grey darken-3 col s2">Click me!</button>
</div>

This is the avaiable data:
<ul class="collection">
    <li *ngFor="let item of data | async" class="collection-item">
        {{item.name}} ({{item.age}})<a (click)="deleteItem(item._id)" class="secondary-content right"><i class="material-icons grey-text darken-3-text">delete</i></a>
    </li>
</ul>
<br>
<button data-target="modal1" class="btn modal-trigger" (click)="openModal()">Modal</button>


<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>