<div class="row">
    <!----------------Left Side----------------------->
    <div class="col s12 l2">
        <configFilter [mappingID]="project.mappingID" [projectID]="projectID" [filesUpdateEmitter]="filesUpdateEmitter" *ngIf="project.mappingID && project.mappingID != ''"></configFilter>
    </div>

    <!-----------------Middle------------------------->
    <div class="col s12 l8">
        <h4>{{project.name}}</h4>
        <hr>
        <div class="center-align">
            <dynTable [input]="filteredConfigs" [initialColumns]="initialColumns" [options]="tableOptions" (called)="handleDynTableCall($event)" (clickedOnColumn)="onTableRowClicked($event)"
                      (columnsChanged)="columnsUpdated($event)" (sortingChanged)="updateTableSorting($event)"></dynTable>
            <span *ngIf="(filteredConfigs)?.length < 1" class="">No configs to display</span>
        </div>
    </div>

    <!---------------Right side----------------------------->
    <div class="col s12 l2">
        <div id="dropCard" class="card amber accent-2 dropCard" (dragleave)="onDragLeave($event)" (dragover)="onDragOver($event)" (drop)="onDrop($event)" *ngIf="isOwner(project.creator)">
            <div class="card-content">
                <span class="card-title">Drop Config</span>
                <p>Drop a config file here to create a new config</p>
            </div>
            <div class="card-action">
                <form action="#">
                    <div class="file-field input-field upload_button">
                        <div class="btn grey darken-1 bot_space">
                            <span>Upload</span>
                            <input type="file" id="upload" multiple (change)="fileChange($event)">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card amber accent-2">
            <div class="card-content">
                <span class="card-title">Related Mapping</span>
                <select id="mappingSelect" class="browser-default" (change)="assignToMapping(selectVal)" [(ngModel)]="selectVal" *ngIf="isOwner(project.creator) && (!project.mappingID || project.mappingID === '')">
                    <option value="" disabled selected>Choose a mapping</option>
                    <option *ngFor="let mapping of mappings" [ngValue]="mapping">{{mapping.name}}</option>
                </select>
                <p *ngIf="project.mappingID === ''">No mapping assigned yet.</p>
                <p [routerLink]="['/mapping', mapping?._id]" class="pointer">{{mapping?.name}}</p>
            </div>
            <div class="card-action">
                <button class="btn grey darken-1 top_space" (click)="updateMapping()" *ngIf="project.mappingID && mapping">Update</button>
                <button class="btn grey darken-1 top_space" (click)="removeMapping()" *ngIf="project.mappingID && mapping">Remove</button>
                <button class="btn grey darken-1 top_space" (click)="createMapping()" *ngIf="isOwner(project.creator) && (!project.mappingID || project.mappingID === '')">Create New</button>
            </div>
        </div>
    </div>
</div>
<!-------------------------------------------------------------------------------------->

<!----------------------------Modals---------------------------------------------------->

<div id="configSetEditModal" class="modal">
    <div class="modal-content">
        <h4>Edit Config</h4>
        <div class="input-field">
            <input placeholder="Name" id="editName" type="text" class="validate" #editName>
            <label for="name">Name</label>
        </div>
        <div class="input-field">
            <textarea placeholder="Description" id="editDesc" type="text" class="materialize-textarea" #editDesc></textarea>
            <label for="desc">Description</label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-action waves-effect waves-green btn-flat" (click)="editChosenConfig(editName.value, editDesc.value)">Edit</button>
    </div>
</div>

<div id="graphPreviewModal" class="modal">
    <div class="modal-content">
        <h4 *ngIf="!canCloseUploadModal">Upload running - Please wait...</h4>
        <h4 *ngIf="canCloseUploadModal">Upload finished</h4>
        <div id="results">
            <svg id="visualisation"></svg>
        </div>
        <div class="progress" *ngIf="!canCloseUploadModal">
            <div class="determinate" id="progressBar" style="width: 0%"></div>
        </div>
    </div>
    <div class="modal-footer" *ngIf="canCloseUploadModal">
        <button class="waves-effect waves-green btn-flat" (click)="closeUploadModal()">Close</button>
    </div>
</div>