<div class="row">
    <div class="col s10">
        <h4>{{project.name}}</h4>
    </div>
    <div class="col s2">
        <button *ngIf="chosenConfig === null" class="btn grey darken-3 top_space tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Add new configuration set" (click)="openAddConfigSetModal()" data-target="configSetModal">Add</button>
    </div>
</div>
<hr>
<div *ngIf="chosenConfig === null" class="center-align">
    <h5>Configuration Sets:</h5>
    <div class="flex_conti" *ngIf="(configSets | async)?.length > 0">
        <div class="card grey lighten-1 card_space hoverable" *ngFor="let set of configSets | async | projects: searchText">
            <div class="card-content pointer" (click)="chooseConfig(set)">
                <span class="card-title">{{set.name}}</span>
                <p class="">{{set.description}}</p>
            </div>

            <div class="card-action">
                <a (click)="deleteConfigSet(set._id)" class="secondary-content right"><i class="material-icons grey-text text-darken-2 pointer">delete</i></a>
                <a (click)="goToConfig(set._id)" class="secondary-content right"><i class="material-icons grey-text text-darken-2 pointer">edit</i></a>
            </div>
        </div>
    </div>
    <span *ngIf="(configSets | async)?.length < 1" class="">No configs to display</span>
</div>

<div *ngIf="chosenConfig != null">
    <div class="row">
        <div class="col s10">
            <h5>{{chosenConfig.name}}  <a (click)="goToConfig(chosenConfig._id)" class="pointer"><i class="material-icons grey-text text-darken-2 pointer">edit</i></a></h5>
        </div>
        <div class="col s2">
            <button class="btn grey darken-3" (click)="chosenConfig = null">Change</button>
        </div>
    </div>
    <table class="highlight">
        <thead>
        <tr>
            <th>ResultID</th>
            <th>Result Name</th>
            <th>Result Error</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
        </tr>
        <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
        </tr>
        <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="file-field input-field">
                    <div class="btn grey darken-3">
                        <span>Add</span>
                        <input type="file" (change)="dataInput($event)">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>




<div id="configSetModal" class="modal">
    <div class="modal-content">
        <h4>Add new configuration set</h4>
        <div class="input-field">
            <input placeholder="Name" id="name" type="text" class="validate" #name>
            <label for="name">Name</label>
        </div>
        <div class="input-field">
            <textarea placeholder="Description" id="desc" type="text" class="materialize-textarea" #desc></textarea>
            <label for="desc">Description</label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-action waves-effect waves-green btn-flat" (click)="createConfigSet(name.value, desc.value)">Create</button>
    </div>
</div>